[submodule "autoload/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = http://github.com/tpope/vim-cucumber.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise
  ignore = untracked
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml
  ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
  ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
  ignore = untracked
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "colors/solarized"]
	path = colors/solarized
	url = git://github.com/altercation/vim-colors-solarized
  ignore = untracked
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
  ignore = untracked
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
  ignore = untracked
[submodule "bundle/rubyblock-text-object"]
	path = bundle/rubyblock-text-object
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
  ignore = untracked
[submodule "bundle/indext-text-object"]
	path = bundle/indext-text-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
  ignore = untracked
[submodule "bundle/argument-text-object"]
	path = bundle/argument-text-object
	url = git://github.com/vim-scripts/argtextobj.vim.git
  ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user
  ignore = untracked
[submodule "bundle/vim-textobj-rubyblock.git"]
	path = bundle/vim-textobj-rubyblock.git
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
  ignore = untracked
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = git://github.com/vim-scripts/c.vim.git
  ignore = untracked
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
  ignore = untracked
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/conqueterm"]
	path = bundle/conqueterm
	url = git://github.com/rosenfeld/conque-term.git
  ignore = untracked
[submodule "bundle/thrift"]
	path = bundle/thrift
	url = git://github.com/sprsquish/thrift.vim.git
  ignore = untracked
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = git://github.com/oscarh/vimerl.git
  ignore = untracked
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = git://github.com/briancollins/vim-jst.git
  ignore = untracked
[submodule "bundle/yard"]
	path = bundle/yard
	url = git://github.com/postmodern/vim-yard.git
  ignore = untracked
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
  ignore = untracked
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = git://github.com/vim-scripts/AutoTag.git
  ignore = untracked
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git://github.com/leafgarland/typescript-vim.git
  ignore = untracked
[submodule "bundle/vim-monit"]
	path = bundle/vim-monit
	url = git://github.com/tmatilai/vim-monit.git
  ignore = untracked
[submodule "bundle/gundo.vim"]
  path = bundle/gundo.vim
  url = git://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = git://github.com/vim-scripts/nginx.vim.git
  ignore = untracked
