[submodule "autoload/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = http://github.com/tpope/vim-cucumber.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise
  ignore = untracked
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml
  ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
  ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
  ignore = untracked
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "colors/solarized"]
	path = colors/solarized
	url = https://github.com/altercation/vim-colors-solarized
  ignore = untracked
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
  ignore = untracked
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/mhz/vim-matchit.git
  ignore = untracked
[submodule "bundle/vim-clojure"]
	path = bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
  ignore = untracked
[submodule "bundle/rubyblock-text-object"]
	path = bundle/rubyblock-text-object
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
  ignore = untracked
[submodule "bundle/indext-text-object"]
	path = bundle/indext-text-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
  ignore = untracked
[submodule "bundle/argument-text-object"]
	path = bundle/argument-text-object
	url = https://github.com/vim-scripts/argtextobj.vim.git
  ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
  ignore = untracked

